{{ define "main" }}
<section class="">
    <div class="container-lg">
        <div class="row align-items-left justify-content-left py-5 g-5">
            <div class="col-lg-8 order-lg-first">
                <h1>{{ .Page.Params.title }}</h1>
                <p class="lead">{{ .Content }}</p>
            </div>
        </div>
    </div>
</section>
{{with .Params.cards}}
<section>
    <div class="container-lg">
        <div class="row">
            {{ range $index,$card:= . }}
            <div class="col-md-4">
                <div class="card mb-3">
                    {{$alt:= .alt}}  
                    {{with .img}}
                    {{ $image := resources.Get (printf "images/%s" .)}}
                    {{ with $image }}
                    <img src="{{ ($image.Fill "400x300 top").Permalink }}" class="card-img-top img-fluid" alt="{{$alt}}" />
                    {{ end }}
                    {{end}}
                    <div class="card-body">
                        <h5 class="card-title">{{ .title }}</h5>
                        <p class="card-text">{{ .text }}</p>
                        {{ with .btn }}
                        {{ if and .url .text }}
                        <a href="{{ .url }}" class="btn btn-primary">{{ .text }}</a>
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{end}}
<section class="timeline">
    <div class="container-lg" style="text-align: left!important">
      {{ range .RegularPagesRecursive.ByDate  }} 
        {{$alt:= .Params.imageFeaturedAlt}}
        {{$permalink:= .Permalink}}
        {{if .Params.hasContentInGallery}}
        {{$fileName:= .File.BaseFileName}}
        {{$galleryPage:= $.Site.GetPage (printf "gallery/%s" $fileName)}}
        {{with $galleryPage}}
        <div class="timeline-item">
            <div class="timeline-img"></div>
            <a href="{{$permalink}}">
            <div class="timeline-content">
                <div class="timeline-title"><h2>{{ .Params.Title}}</h2></div>
                {{ if .Params.Displaydate }}
                <div class="date">{{ .Params.Displaydate }}</div>
                {{ else }}
                <div class="date">{{ .Params.Date.Format "Jan 2, 2006"}}</div>{{ end }}
                <div class="timeline-imagewrapper">
                    <div class="timeline-thumbnail">{{with .Params.imageFeatured}}
                        {{ $timelineimage := resources.GetMatch (printf "/images/%s" .)}}
                        {{ with $timelineimage }}
                        <img src="{{ ($timelineimage.Fill "160x120 top").Permalink }}"  alt="{{ .Params.imageFeaturedAlt }}"/>
                        {{ end }}{{end}}</div>
                        <div class="timeline-text p2"><p>{{.Params.Eventname}}<br>
                        </div>
                </div>
            </div></a>
        </div>
        {{end}} 
        {{else}}
        <div class="timeline-item">
            <div class="timeline-img"></div>
            {{ if .Params.hasContentInGallery }}<a href="{{$permalink}}">{{else}}
            <div class="timeline-content">
                <div class="timeline-title"><h2>{{ .Params.Title}}</h2></div>
                {{ if .Params.Displaydate }}
                <div class="date">{{ .Params.Displaydate }}</div>
                {{ else }}
                <div class="date">{{ .Params.Date.Format "Jan 2, 2006"}}</div>{{ end }}
                <div class="timeline-imagewrapper">
                    <div class="timeline-thumbnail">{{with .Params.imageFeatured}}
                        {{ $timelineimage := resources.GetMatch (printf "/images/%s" .)}}
                        {{ with $timelineimage }}
                        <img src="{{ ($timelineimage.Fill "160x120 top").Permalink }}"  alt="{{ .Params.imageFeaturedAlt }}" />
                        {{ end }}{{end}}</div>
                        <div class="timeline-text p2"><p>{{.Params.Eventname}}<br>
                    </div>
                </div>
            </div></a>{{end}}
        </div>
        {{end}}
      {{ end }}
        {{$allPages:= .Page.Parent.Pages}}
        {{$pages:= slice}}
        {{range $allPages}}
            {{if eq .Params.layout "bundle-gallery"}} 
                {{$pages = $pages | append .}}
            {{end}}
        {{end}}        
        </div>

</section>
<div class="container-lg">
{{$permalink:= .Permalink}}
        {{$lastIndex:= sub (len $pages) 1}}
        {{range $index,$page:= $pages}}
            {{if eq $page.Permalink $permalink}}
            <div class="d-flex justify-content-between py-5">
                {{if and (ne $index 0) (eq $index $lastIndex)}}
                <div class="float-left g-5"><a class="previous btn btn-primary text-left" href="{{(index $pages (sub $index 1)).Permalink}}"> Previous Document Set </a></div>
                {{else if and (eq $index 0) (ne $index $lastIndex)}}
                <div class="float-right g-5"><a class="next btn btn-primary text-right" href="{{(index $pages (add $index 1)).Permalink}}"> Next Document Set </a></div>
                {{else}}
                <div class="float-left g-5"><a class="previous btn btn-primary text-left" href="{{(index $pages (sub $index 1)).Permalink}}"> Previous Document Set </a></div>
                <div class="float-right g-5"><a class="next btn btn-primary text-right" href="{{(index $pages (add $index 1)).Permalink}}"> Next Document Set </a></div> 
                {{end}}
              </div>
              <div class="container-lg-10"><p class="h2">You are here:</p></div>
          <div class="container-lg-10">{{ partial "breadcrumbs" . }}</div>
            </div>

            {{end}}
            
        {{end}}</div>
{{ end }}
