{{define "main"}}
    {{$fileName:= .File.BaseFileName}}
    {{$galleryPage:= $.Site.GetPage (printf "gallery/%s" $fileName)}}
    {{with $galleryPage}}
    <section class="main">
      <div class="container">
        <div class="col-lg-12 justify-content-center">
            <div class="col-lg-8 mx-auto justify-content-center">
              <h1>{{ .Title }}</h1></div>
              {{ partial "content" . }}
              {{end}}
              <div class="d-flex justify-content-between py-5">
                {{ with .PrevInSection }}
                <div class="float-left g-5"><a class="previous btn btn-primary text-left" href="{{.Permalink}}"> Previous Item </a></div>
                {{ end }}
                {{ with .NextInSection }}
                <div class="float-right g-5"></div><a class="next  btn btn-primary text-right" href="{{.Permalink}}"> Next Item </a></div>
                {{ end }}
              </div>
              <div class="container-lg-10"><p class="h2">You are here:</p></div>
          <div class="container-lg-10">{{ partial "breadcrumbs" . }}</div>
            </div>
          </div>
      </section>
{{end}}