{{ define "main" }}
  <div class="">
    <main class="col ps-md-2 pt-2">  
      <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1"></i> Menu</a>

  <div class="container-lg">
    <h1> {{ .Title }}</h1>
  <div class="row pack justify-content-center mx-auto">
    {{ .Content }}
    {{ range (.Paginate $.RegularPagesRecursive.ByDate).Pages}}
    <div class="col-md-3 card m-3">
      <a href="{{ .Permalink }}" class="index-anchor">
        <div class="panel panel-default py-4">
          {{$imageFeaturedAlt:= .Params.imageFeaturedAlt}}
          {{$title:= .Title}}
          {{ $image := resources.Get (printf "/images/%s" .Params.imageFeatured )}}
                    {{ with $image }}
                    <img src="{{ ($image.Fill "300x210 top").Permalink }}" class="card-img-top img-fluid" alt="{{with $imageFeaturedAlt}}{{ . }}{{else}}{{$title}}{{end}}" />
                    {{ end }}
      </a>
      <div class="panel-body py-3">
        <h3 class="panel-title pull-left">{{ .Title | truncate 25 }}</h3>
      </div>
    </div> 
    </div>
{{ end }}
</div>
</main>

<div class="row">
 {{ partial "pagination" . }}
</div></div>
{{ end }}