{{ define "main" }}
<div class="home">
  <div class="container-lg">
  <div class="row pack">
    {{ .Content }}
    {{ range (.Paginate $.RegularPagesRecursive.ByDate).Pages}}
    <div class="col-md-3 card m-3">
      <a href="{{ .Permalink }}" class="index-anchor">
        <div class="panel panel-default py-4">
          {{$imageFeaturedAlt:= .Params.imageFeaturedAlt}}
          {{$title:= .Title}}
          {{ $image := resources.Get (printf "/images/%s" .Params.imageFeatured )}}
                    {{ with $image }}
                    <img src="{{ ($image.Fill "300x210 top").Permalink }}" class="card-img-top img-fluid" alt="{{with $imageFeaturedAlt}}{{ . }}{{else}}{{$title}}{{end}}" />
                    {{ end }}
      </a>
      <div class="panel-body py-3">
        <h3 class="panel-title pull-left">{{ .Title | truncate 25 }}</h3>
      </div>
    </div>

  </div>
  {{ end }}

</div>

<div class="row">
 {{ partial "pagination" . }}
</div>
</div>
</div>
{{ end }}