<div> {{ with (index $.Site.Data.item (substr $.File.LogicalName 0 -3))}}
    <p> Background by{{ .author | markdownify}}</p>
    <p> {{ .Content | markdownify }}</p></div>
    <div class="col-lg-12">
        <div class="d-flex justify-content-center">
            {{ with or .video .embed}}
            {{ with $.video}}
            <iframe loading="lazy" width="560" height="315" src="{{.}}"
                title="{{with $.videoTitle}}{{ . }}{{else}}{{$.Title}}{{end}}" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            {{else}}
            {{ $pdf := resources.Get (printf "/images/%s" $.embed)}}
            <iframe title="{{with $.embedTitle}}{{ . }}{{else}}{{$.Title}}{{end}}" src="{{$pdf.Permalink}}"
                width="100%" height="500px"></iframe>
            {{end}}
            {{else}}
            {{ with .imageFeatured }}
            {{ $image := resources.Get (printf "/images/%s" .)}}
            {{ with $image }}<img src="{{ ($image).Permalink }}" class="responsive-figure-fullwidth"
                alt="{{with $.imageFeaturedAlt}}{{ . }}{{else}}{{$.Title}}{{end}}"
                style="max-width: 100%;" />{{end}}
            {{end}}
            {{end}}
        </div>
        <div class="col-lg">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Image Details
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p> <strong>Caption:</strong> {{ .caption | markdownify}}</p>
                            <p> <strong>Source:</strong> {{ .archive_source | markdownify}}</p>
                            <p> <strong>Permalink:</strong> {{ .source_link | markdownify}}</p>
                            <p> <strong>Copyright:</strong> {{ .copyright | markdownify}}</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            References
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>{{ end }}