{{ define "main" }}
<section class="main">
  <div class="container-lg">
    <div class="row align-items-start">
      <div class="col-6">
        {{ $image := resources.Get (printf "images/%s" .Page.Params.imageFeatured)}}
                    {{ with $image }}
                    <img src="{{ ($image.Resize"800x").Permalink }}" class="responsive-figure" alt="{{ .alt }}" />
                    {{ end }}
      </div>
      <div class="col-6">
       {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ end }}